@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

.content-image img {
    width: 100%;
}
.content-image1 img {
    width: 100%;
}
.content-image2 img {
    width: 100%;
}


header.navbar-container {
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-block: 1rem;

}

header.navbar-container .logo img {
    width: 200px;
}

header.navbar-container .nav-list ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
    gap: 2rem 1rem;
}

header.navbar-container .nav-list li {
    list-style-type: none;
}

header.navbar-container .nav-list li a {
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 500;
    color: black;
    padding: .5rem 1.5rem;
    border-radius: 999px;
    transition: all .2s ease-in-out;
}

header.navbar-container .nav-list li:hover a {
    background-color: #FF8303;
    color: white;
    font-weight: bold;
}

.dropbtn {
    color: black;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #FF8303;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show {
    display: block;
}

main {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex-wrap: wrap;
}

main .content .detail-content {
    display: flex;
    flex-direction: row;
    background-color: #fabb93;
}
main .content .detail-content1 {
    display: flex;
    flex-direction: row;
}
main .content .detail-content2 {
    display: flex;
    flex-direction: row;
}

button {
    padding: .6rem 2rem;
    margin-block-start: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
    color: white;
    border: 2px solid transparent;
    border-radius: 999px;
    background-color: #FF8303;
    cursor: pointer;
    transition: all .15s ease-in;
}

footer {
    padding: 20px;
    color: #fff;
    background-color: #FF8303;
    text-align: center;
}

figcaption {
    text-align: center;
}

h1.title {
    color: #FF8303;
    text-align: center;
}

h1.title-content {
    color: #FF8303;
}
h1.biodata {
    text-align: center;
}


h2 {
    color: #FF8303;
}

h3 {
    color: black;
}

#content {
    flex: 5;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem 2rem;
}
.content-description{
    text-align: justify;
    padding-right: 20px;
}
.content-description1{
    text-align: justify;
    padding-right: 20px;
}
.content-description2{
    text-align: justify;
    padding-left: 20px;
}

.all-content {
    display: flex;
    flex-direction: row;
    float: left;
}

.content-aside {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

aside {
    float: right;
}

.profile header {
    text-align: center;
}

.featured-image {
    width: 100%;
    max-height: 300px;

    object-fit: cover;
    object-position: center;
}

.card1 img {
    width: 150px;
}

.card {
    box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    width: 100%;
}

.card1 {
    box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
    border-radius: 1px;
    background-color: #FF8303;
    background-image: linear-gradient(white, #FF8303);
    padding: 20px;
    width: 100%;
}

.detail-content1{
    display: flex;
    flex-direction: row;
}
.detail-content2{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1200px) {
    main {
        flex-flow: column nowrap;
    }

    main.content-aside aside {
        align-self: center;
    }

    header.navbar-container {
        flex-direction: column;
    }

    header.navbar-container .nav-list ul {
        flex-wrap: wrap;
        column-gap: .5rem;
    }
}

@media screen and (max-width: 768px) {
    header.navbar-container {
        flex-direction: column;
    }

    header.navbar-container .nav-list ul {
        flex-wrap: wrap;
        column-gap: .5rem;
    }

    .content-aside aside {
        width: 100%;
        padding: 0;
    }

    .content-aside {
        flex-direction: column;
    }

    main .content .detail-content {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }

    .card1 img {
        width: 200px;
        float: center;
    }

    main .content .detail-content {
        flex-direction: column;
    }
    main .content .detail-content1 {
        flex-direction: column;
    }
    main .content .detail-content2 {
        flex-direction: column;
    }

}